.form-link{
  text-align: right;
  padding-left:50px ;
}
.formmain {
  background-color: lightgrey;
  width: 300px;
  border: 5px solid black;
  padding: 50px;
  margin: auto;
  
}

.txt{
  font-size: 1.2em;
}

