<div class="changepassword">
    <div class="frmchangepassword">
        <form #changepasswordForm="ngForm" (ngSubmit)="onSubmit(changepasswordForm.value)">
            

            <p class="txt-oldpassword">
                <label>Mật khẩu cũ</label>
                <td></td>
                <input type="password" class="txt-oldpassword" name="oldpassword" ngModel />
            </p>
            <p class="txt-newpassword">
                <label>Mật khẩu mới</label>
                <td></td>
                <input type="password" class="txt-newpassword" name="newpassword" ngModel />
            </p>
            <p class="txt-againpassword">
                <label>Nhập lại mật khẩu</label>
                <td></td>
                <input type="password" class="txt-againpassword" name="againpassword" ngModel />
            </p>
            <ul>
                <th>
                    <p class="form-cancel">
                        <button (click)="goBack()">Hủy</button>
                    </p>
                </th> 
                <td></td>
                <th>
                    <p class="form-send">
                        <button type="submit">Gửi</button>
                    </p>
                </th>
            </ul>
        </form>
    </div>
</div>

<router-outlet></router-outlet>