.changepassword {
    background-color: lightgrey;
    width: 400px;
    border: 5px solid black;
    padding: 50px;
    margin: auto;
    
  }
.frmchangepassword{
    /* border: 2px solid yellow; */

    padding-left:20% ;
    overflow: auto;
}
.frmchangepassword ul{
    display: inline-block;
    float: right;
    margin: auto;
    
}
.frmchangepassword th{
    padding: 15px;
}

