.forgotpassword {
    background-color: lightgrey;
    width: 400px;
    border: 5px solid black;
    padding: 50px;
    margin: auto;
    
  }
.frmforgotpassword{
    

    padding-left:20% ;
    overflow: auto;
}
.frmforgotpassword ul{
    display: inline-block;
    float: right;
    margin: auto;
    
}
.frmforgotpassword th{
    padding: 15px;
}

