<div class="forgotpassword">
    <div class="frmforgotpassword">
        <form #forgotForm="ngForm" (ngSubmit)="onSubmit(forgotForm.value)">

            <p class="txt-username">
                <td> 
                    <label>Tên đăng nhập</label>
                    <input type="text" class="txt-username" name="username" ngModel />
                </td>
            </p>
            <p class="txt-mail">
                <label>Email</label>
                <td></td>
                <input type="email" class="txt-mail" name="mail" ngModel />
            </p>
            <ul>
                <th>
                    <p class="form-cancel">
                        <button (click)="goBack()">Hủy</button>
                    </p>
                </th>
                <td></td>
                <th>
                    <p class="form-send">
                        <button type="submit">Gửi</button>
                    </p>
                </th>
            </ul>
        </form>
    </div>
</div>

<router-outlet></router-outlet>