<div class="head">
    <div class="image">
        <img [src]="avatar.url" alt="" style=" height: 3em; ">
        <th></th>
        <div class="Line">
            <h1>Trường tiểu học Tân Mai</h1>
            <h1>2019-2020</h1>
            <h1>Học Kỳ 1</h1>
        </div>
    </div>
</div>
<hr>

<div class="main">
    <div class="List">
        <ul class="accounts">
            <img [src]="avatar.url" alt="" style="height: 5em;margin: auto;padding-right: 50px; ">
            <td></td>
            <label>aaaaaa</label>
        </ul>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <!--lấy dữ liệu cây-->



            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <!-- mở rộng các nút -->

                <!-- <button mat-icon-button disabled>
                    <a [routerLink]="['forgotpassword']" routerLinkActive="active">{{node.name}}</a>
                </button> -->
                <a>
                    {{node.name}}
                </a>

            </mat-tree-node>

           
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                {{node.name}}
                <!--lấy tên các nút khai báo bên kia-->
            </mat-tree-node>
        </mat-tree>
    </div>
    <!-- <div class="page">
        <ngb-tabset [destroyOnHide]="false">
            <ngb-tab title="Simple">
                <ng-template ngbTabContent>
                    <p>123 </p>

                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div> -->


</div>

<router-outlet></router-outlet>