.head{
    border: 1px solid black;
   
}
.Line{
   
    margin-left: 50em;
    
}
.head img{
    float: left;
    padding-left: 10%;
    margin: auto;
}
.Line h1{
    
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    text-align: left;
}

.List{
    border:1px solid black;
    /* margin: auto; */
    float: left;
    /* content: "";
    display: table;
    clear: both;
    overflow: auto; */
}
.main{
    border: 1px solid black;
    padding:auto;
    overflow: auto;
}
 


.page{
    border:1px solid black;
    overflow: auto;
    padding-left: 3%;
}
/*.page ul{
    display: inline-block;
    float: right;
    margin: auto;
}
.page th{
    padding: 15px;
}


 */


